<footer class="container">
  <div class="row">
    <div class="col-md-8">
      <p><img id="logo" src="{{ site.baseurl }}/img/logo.png"></img>
        {{ site.title }}</p>
      <p>{{ site.description }}</p>
    </div>

    <div class="col-md-4">
      <ul class="nav navbar-nav navbar-right">{% for my_page in site.pages %}
        {% if my_page.title %}
        <li>
          <a href="{{ my_page.url }}">{{ my_page.title }}</a>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
